/* Sidebar.css */
.Sidebar {
  height: 100vh;
  width: 20%;
  float: left;
}

.Sidebar h1 {
  margin-top: 0;
}

.Sidebar p {
  margin-bottom: 20px;
}

.Sidebar .checkbox-wrapper {
  margin-bottom: 10px;
}

.Sidebar input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}